/*
*
* Catppuccin Macchiato palette
* Maintainer: rubyowo
*
*/


/*
@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;

*/

/* Tokyonight palette for Waybar */

@define-color base   #1a1b26;
@define-color mantle #1f2335;
@define-color crust  #24283b;

@define-color text     #c0caf5;
@define-color subtext0 #a9b1d6;
@define-color subtext1 #9aa5ce;

@define-color surface0 #414868;
@define-color surface1 #565f89;
@define-color surface2 #737aa2;

@define-color overlay0 #7aa2f7;
@define-color overlay1 #bb9af7;
@define-color overlay2 #9ece6a;

@define-color blue      #7aa2f7;
@define-color lavender  #bb9af7;
@define-color sapphire  #7dcfff;
@define-color sky       #7dcfff;
@define-color teal      #2ac3de;
@define-color green     #9ece6a;
@define-color yellow    #e0af68;
@define-color peach     #ff9e64;
@define-color maroon    #f7768e;
@define-color red       #f7768e;
@define-color mauve     #bb9af7;
@define-color pink      #ff79c6;
@define-color flamingo  #f7768e;
@define-color rosewater #ff9e64;


@define-color redasfuck #ee0000;
