/* =============================================================================
 Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 * -------------------------------------------------------------------------- */

@import "machiatto.css";

* {
    color: @mauve;
    border: 0;
    padding: 0;
    font-family: UbuntuMono Nerd Font Propo;
    font-size: 18px;
    font-weight: bold;
}

window#waybar {
    border: 0;
    background-color: transparent;
}

/* -----------------------------------------------------------------------------
 * Workspaces (Left)
 * -------------------------------------------------------------------------- */

#workspaces {
    border-style: solid;
    opacity: 1;
    border-radius: 10px;
    margin: 8px 0px 8px 8px;
}

#workspaces * {
    color: @mauve;
}

#workspaces button {
    color: @black;
    border-radius: 50%;
    background-color: @black;
    padding: 4px 8px 4px 0px;
    margin: 0px;
}

#workspaces button:hover {
    color: @mauve;
    box-shadow: none;
    text-shadow: none;
    border: 0px;
    background: none;
}

#workspaces button.active {
    background-color: @mauve;
    color: @black;
    border-radius: 50%;
    padding: 4px 8px 4px 0px;
    margin: 0 10px;
}

#workspaces button.active * {
    color: @black;
}

/* -----------------------------------------------------------------------------
 * Center Modules
 * -------------------------------------------------------------------------- */

#clock {
    color: @mauve;
    border-radius: 100px;
    margin: 8px 10px;
    background-color: @black;
    padding: 4px 8px 4px 10px;
}

#mpris {
    color: @mauve;
    border-radius: 100px;
    background-color: @black;
    padding: 4px 8px 4px 0px;
    margin: 4px 4px;
}

/* -----------------------------------------------------------------------------
 * Right Modules (Grouped Capsule)
 * -------------------------------------------------------------------------- */

#bluetooth,
#network,
#pulseaudio,
#temperature,
#memory,
#battery {
    color: @mauve;
    background-color: @black;
    padding: 4px 20px 4px 0px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#bluetooth {
    border-radius: 100px 0 0 100px;
    margin-left: 4px;
    margin-right: 0;
}

#network,
#pulseaudio,
#temperature,
#memory {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
}

#battery {
    border-radius: 0 100px 100px 0;
    margin-left: 0;
    margin-right: 4px;
}

/* -----------------------------------------------------------------------------
 * Module States & Statuses
 * -------------------------------------------------------------------------- */

#pulseaudio.muted {
    color: @surface2;
}

#network.disabled,
#network.disconnected {
    color: @redasfuck;
}

#temperature.critical {
    color: @redasfuck;
}

#battery.charging {
    color: @green;
}

@keyframes blink {
    to {
        color: @mauve;
    }
}

#battery.critical:not(.charging) {
    color: @redasfuck;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#mode {
    color: @mauve;
    border-radius: 10px;
    margin-right: 5px;
}
